# Created by .ignore support plugin (hsz.mobi)

.DS_Store
.swp

# IntelliJ
.idea
.ijwb

# Ignore binary
cmd/lukso/geth
cmd/lukso/prysm
cmd/lukso/deps
cmd/lukso/lukso

# Dist files
dist
/target
/public

# Configs and logs
cmd/lukso/config
cmd/lukso/logs

# Coverage outputs
coverage.txt
profile.out
profile.grind

# Nodejs
node_modules
yarn-error.log
.vscode/

# Ignore password file
password.txt

# libfuzzer
oom-*
crash-*

# deepsource cli
bin
